h2, #playerDiv{
    margin:30px;
    padding:10px;
}
nav{
    background-color:gray;
}
.myfooter{
    font-weight: bolder;
    color:green;
    font-size: xx-large;
}
img{
    margin: 0 auto;
    padding:10px;
    width:1100px;
    height: 550px;
}
#scheduleList{
    margin:30px;
    padding:10px;
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;
    color:navy;
}

.float_right{
    float: right;
}
.float_left{
    float: left;
}
.marginTop_minus_21{
    margin-top: -21px;
}
.marginTop_minus_10{
    margin-top: -10px;
}
.height_80_px{
    height: 80px;
}
body{
    height: 650px !important ;
}
.padding_top_15_px{
 padding-top: 15px
}
.margin_top_5_per{
    margin-top: 5%;
}
.transition_0_3{
    transition: 0.3s;
}
.marginTop_minus_1_per{
    margin-top : -0.99%;
}